<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDIJq2qQL29VLN7Yf1YyeiIaU10jD0CN4E</string>
	<key>GCM_SENDER_ID</key>
	<string>667066614314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Andy.SipSafe</string>
	<key>PROJECT_ID</key>
	<string>sipsafe-6d475</string>
	<key>STORAGE_BUCKET</key>
	<string>sipsafe-6d475.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667066614314:ios:919fc35b76346c2da53953</string>
</dict>
</plist>